*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  --text-font: 'Poppins', sans-serif;
  --font-size: 1.5rem;
  --custom-blue: #0044ff;
  font-size: 62.5%;
}

body {
  background-color: #efefef;
  font-family: var(--text-font);
  font-size: var(--font-size);
}
