.header {
  h1 {
    padding: 1.5rem 0;
    background-color: var(--custom-blue);
    color: #fff;
    font-size: 2.5rem;
    text-align: center;
  }

  form {
    display: flex;
    background-color: #fff;

    label {
      padding: 0.5rem 1rem;
      color: #aaa;
      font-size: 2rem;
    }

    input {
      flex: 1;
      padding: 0.5rem;
      border: none;
      outline: none;
      font-family: var(--text-font);
      font-size: var(--font-size);
    }
  }
}
